%footer.footer
  %small
    The 
    %a{:href => 'https://www.railstutorial.org/'} Ruby on Rails Tutorial
    by 
    %a{:href => 'https://www.michaelhartl.com/'} Michael Hartl
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => 'https://news.railstutorial.org/'} News
