%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "sample app", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        %li= link_to "Help", help_path
        - if logged_in?
          %li= link_to "Users", users_path
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" }
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li= link_to "Log out", logout_path, method: :delete
        - else
          %li= link_to "Log in", login_path