= provide(:title, 'Contact')
%h1 Contact
%p
  Contact the Ruby on Rails Tutorial about the sample app at the
  = succeed "." do
    %a{:href => "https://www.railstutorial.org/contact"} contact page
  