- provide(:title, "Help")
%h1 Help
%p 
    Get help on the Ruby on Rails Tutorial at the
    %a{:href => "https://www.railstutorial.org/help"} Rails Tutorial help page
    \. To get help on this sample app, see the
    %a{:href => "http://www.railstutorial.org/book"}>
        %em Ruby on Rails Tutorial
        book
