.center.jumbotron
  %h1 Sample App
  %p 
    This is the home page for the 
    %a{:href => "https://www.railstutorial.org/"} Ruby on Rails Tutorial
    sample application.
  
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"

= link_to image_tag("rails.png", alt: "Rails logo"), 'https://rubyonrails.org/'